body{
    background-color: #0e1117;
    padding-left: 1rem;
    padding-right: 1rem;
    color:#FEFEFE;
    font-family: "gohu" !important;
}
@font-face {
    font-family: "gohu";
    src: url("gohu.woff") format('woff') ;
  }
.cc{
    text-align: center;
}
h1{
    color: white;
}
a{
    color: #d10000;
    text-decoration: none;
}
.r{
    color: #d10000;
}
